<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
		   "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="teamproject3.team3.mapper.BoardMapper">

	<insert id="insertBoard" parameterType="BoardVO"
			useGeneratedKeys="true" keyProperty="boardNo" keyColumn="boardno">
	INSERT INTO BOARD (title, member_id, CONTENT) 
	VALUES (#{ title }, #{ member_id}, #{ content })
	</insert>
	
	<select id="selectAll" resultType="BoardVO">
	SELECT BOARDNO, TITLE, MEMBER_ID, READCOUNT, REGDATE, DELETED
	FROM BOARD
	ORDER BY BOARDNO DESC
	</select>
	
	<resultMap id="boardResultMap" type="BoardVO">
		<id column="BOARDNO" property="boardNo" />
		<result column="TITLE" property="title" />
		<result column="CONTENT" property="content" />
		<result column="MEMBER_ID" property="member_id" />
		<result column="READCOUNT" property="readCount" />
		<result column="REGDATE" property="regDate" />
		<collection property="attachments" column="BOARDNO" resultMap="boardAttachResultMap" />
	</resultMap>
	
	<select id="selectBoardByBoardNo" parameterType="int" resultMap="boardResultMap">
	SELECT B.BOARDNO, B.TITLE, B.CONTENT, B.member_id member_id, B.READCOUNT, B.REGDATE, BA.ATTACHNO, BA.SAVEDFILENAME, BA.USERFILENAME 
	FROM BOARD B
	LEFT OUTER JOIN BOARDATTACH BA
	ON B.BOARDNO = BA.BOARDNO
	WHERE B.BOARDNO = #{ boardNo } AND B.DELETED = false 
	</select>
	
	<delete id="updateBoardDeleted">
		delete from board
		where boardno = #{ boardNo }
	</delete>
	
	<update id="updateBoardDelete" parameterType="int">
	UPDATE BOARD 
	SET DELETED = true
	WHERE BOARDNO = #{ boardNo }
	</update>
	
	<update id="updateBoardReadCount" parameterType="int">
	UPDATE BOARD 
	SET READCOUNT = READCOUNT + 1
	WHERE BOARDNO = #{ boardNo }
	</update>
	
	<update id="updateBoard" parameterType="BoardVO">
	UPDATE BOARD 
	SET TITLE = #{title}, CONTENT = #{content}
	WHERE BOARDNO = #{ boardNo }
	</update>

	<insert id="insertBoardAttach" parameterType="BoardAttachVO">
	INSERT INTO BOARDATTACH (BOARDNO, SAVEDFILENAME, USERFILENAME)
	VALUES (#{ boardNo }, #{ savedFileName }, #{ userFileName })
	</insert>
	
	<resultMap id="boardAttachResultMap" type="BoardAttachVO">
		<id column="ATTACHNO" property="attachNo" />
		<result column="BOARDNO" property="boardNo" />
		<result column="SAVEDFILENAME" property="savedFileName" />
		<result column="USERFILENAME" property="userFileName" />
	</resultMap>
	<select id="selectBoardAttachByBoardNo" parameterType="int" resultType="BoardAttachVO">
	SELECT ATTACHNO, BOARDNO, SAVEDFILENAME, USERFILENAME
	FROM BOARDATTACH
	WHERE BOARDNO = #{ BOARDNO }
	</select>
	
	<select id="selectBoardAttachByAttachNo" parameterType="int" resultType="BoardAttachVO">
	SELECT ATTACHNO, BOARDNO, SAVEDFILENAME, USERFILENAME
	FROM BOARDATTACH
	WHERE ATTACHNO = #{ attachNo }
	</select>

	
</mapper>