<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<!-- 
		~Mapper.xml 에서 사용할 타입이름을 미리 등록하는 설정 
		BoardVO가 나오면 com.demoweb.vo.BoardVO로 처리하라는 의미
	-->
	<typeAliases>
		<typeAlias type="teamproject3.team3.vo.BoardVO" alias="BoardVO" />
		<typeAlias type="teamproject3.team3.vo.BoardAttachVO" alias="BoardAttachVO" />
		<typeAlias type="teamproject3.team3.vo.genreVO" alias= "genreVO"/>
		<typeAlias type="teamproject3.team3.vo.MemberGenreVO" alias= "MemberGenreVO"/>
		<typeAlias type="teamproject3.team3.vo.memberVO" alias= "memberVO"/>
		<typeAlias type="teamproject3.team3.vo.movieVO" alias= "movieVO"/>
		<typeAlias type="teamproject3.team3.vo.reviewVO" alias= "reviewVO"/>
		<typeAlias type="teamproject3.team3.vo.videoVO" alias= "videoVO"/>
		<typeAlias type="teamproject3.team3.vo.ticketingVO" alias= "ticketingVO"/>
		<typeAlias type="teamproject3.team3.vo.jjimVO" alias= "jjimVO"/>
		<typeAlias type="teamproject3.team3.vo.personVO" alias= "personVO"/>
	
	</typeAliases>
	
	<mappers>
		<mapper resource="teamproject3/team3/mapper/BoardMapper.xml"/>
		<mapper resource="teamproject3/team3/mapper/MemberMapper.xml"/>
		<mapper resource="teamproject3/team3/mapper/infoMapper.xml"/>
		<mapper resource="teamproject3/team3/mapper/rankMapper.xml"/>
	</mappers>
	
	
</configuration>