<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
	PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

	<!-- 
		~Mapper.xml 에서 사용할 타입이름을 미리 등록하는 설정 
		BoardVO가 나오면 com.demoweb.vo.BoardVO로 처리하라는 의미
	-->
	<typeAliases>
	</typeAliases>
	
	<mappers>
	</mappers>
	
	
</configuration>